In [36]:
import pandas as pd
from string import ascii_lowercase
import numpy as np

In [4]:
help(pd)

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, date shifting and lagging.

PACKAGE CONTENTS
    _config (package)
    _libs (package)
    _testing
    _typing
    _version
    api (package)
    arrays (package)
    compat (package)
    conftest
    core (package)
    errors (package)
    io (package)
    plotting (package)
    testing
    tests (package)
    tseries (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

FUNCTIONS
    __getattr__(name)

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NA = <NA>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    __git_version__ = '1ce1c3c1ef9894bf1ba79805f37514291f52a9da'
    describe_option = <pandas._config.config.CallableDynamicDoc object>
    get_option = <pandas._config.config.CallableDynamicDoc object>
    options = <pandas._config.config.DictWrapper object>
    reset_option = <pandas._config.config.CallableDynamicDoc object>
    set_option = <pandas._config.config.CallableDynamicDoc object>

VERSION
    1.0.4

FILE
    /home/admin1/.local/lib/python3.8/site-packages/pandas/__init__.py

In [6]:
s = pd.Series(range(7, 17))
print(s)

0     7
1     8
2     9
3    10
4    11
5    12
6    13
7    14
8    15
9    16
dtype: int64

In [7]:
s.index

RangeIndex(start=0, stop=10, step=1)

In [8]:
s.values

array([ 7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [9]:
type(s.values)

numpy.ndarray

In [13]:
data = list(range(10))
print(data)
print(ascii_lowercase)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
abcdefghijklmnopqrstuvwxyz

In [14]:
index_letters = [ascii_lowercase[i] for i in data]
print(index_letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [16]:
s = pd.Series(data, index = index_letters)
s

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

In [17]:
print(s['a'], s['g'], s['j'])

0 6 9

In [18]:
s[['a', 'b', 'f', 'g']]

a    0
b    1
f    5
g    6
dtype: int64

In [19]:
s[:]

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

In [21]:
s is not s[:]

True

In [22]:
s[['a', 'd']] = 13
s

a    13
b     1
c     2
d    13
e     4
f     5
g     6
h     7
i     8
j     9
dtype: int64

In [23]:
s > 6

a     True
b    False
c    False
d     True
e    False
f    False
g    False
h     True
i     True
j     True
dtype: bool

In [24]:
s[s > 6]

a    13
d    13
h     7
i     8
j     9
dtype: int64

In [25]:
s[s > 6] * 2

a    26
d    26
h    14
i    16
j    18
dtype: int64

In [26]:
s ** 2

a    169
b      1
c      4
d    169
e     16
f     25
g     36
h     49
i     64
j     81
dtype: int64

In [27]:
'f' in s

True

In [28]:
'k' in s

False

In [29]:
36 in s

False

In [30]:
# неявный индекс
s.iloc[0]

13

In [31]:
# явный индекс
s.loc['a']

13

In [32]:
items = {ascii_lowercase[i]:i for i in range(10)}
items

{'a': 0,
 'b': 1,
 'c': 2,
 'd': 3,
 'e': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9}

In [33]:
s = pd.Series(items)
s

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

In [35]:
s = pd.Series(items, index = [ascii_lowercase[i] for i in range(len(items) + 1)])
s

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
i    8.0
j    9.0
k    NaN
dtype: float64

In [41]:
print(np.nan)
print(np.NaN)
print(np.nan is np.NaN)
print("np.nan is the same np.NaN (not a number)")

nan
nan
True
np.nan is the same np.NaN (not a number)

In [45]:
print(s['k'])

nan

In [46]:
print(s.min())
print(s.max())
print(s.median()) # Nan не участвует в расчете

0.0
9.0
4.5

In [47]:
s['k'] = 10
print(s)
print(s.median())

a     0.0
b     1.0
c     2.0
d     3.0
e     4.0
f     5.0
g     6.0
h     7.0
i     8.0
j     9.0
k    10.0
dtype: float64
5.0

In [48]:
s.name = 'Numbers'
s.index.name = 'letters'
s

letters
a     0.0
b     1.0
c     2.0
d     3.0
e     4.0
f     5.0
g     6.0
h     7.0
i     8.0
j     9.0
k    10.0
Name: Numbers, dtype: float64

In [49]:
s[0]

0.0